{{extend plantilla()}}
<div class="web2py_grid">
	{{if len(ordenesTrabajo)>0:}}
		<div id="listadoOrdenes" class="table-responsive">
			<table id="idListadoOrdenesTable" class="display" style="width:100%">
		        <thead>
		            <tr>
		                <th>Fecha creación</th>
		                <th>Código orden</th>
		                <th>Estado</th>
		                <th>Responsable ejecución</th>
		                <th>Detalle</th>
		            </tr>
		        </thead>
		        <tbody>
		        	{{ for ctz in ordenesTrabajo: }}
			        	<tr id="idTrOrden_{{=ctz.id}}">
			        		<td>{{=fechaFormato(ctz.ordenesTrabajo_fecha_creacion,'fecha')}}</td>
			        		<td>{{=ctz.ordenesTrabajo_codigo}}</td>
			        		<td>
			        			<span class="badge badge-secondary" id="spanEstado_{{=ctz.id}}" style="cursor:pointer;" onclick="ord.cambioEstado('{{=ctz.id}}', '');">{{=ctz.ordenesTrabajo_estado}}</span>
			        			<span class="badge badge-secondary" style="display: none;" id="spanEstado_cancelado_{{#=ctz.id}}">Cancelada</span>
			        			<span class="badge badge-secondary" style="display: none;" id="spanEstado_ejecutado_{{#=ctz.id}}">Ejecutada</span>
			        			<span class="badge badge-secondary" style="display: none;cursor:none;" id="spanEstado_mosatrar_{{#=ctz.id}}">
			        				<i class="fas fa-spinner fa-spin" style="color: white;"></i>
			        			</span>
			        		</td>
			        		<td>
			        			{{ if ctz.ordenesTrabajo_responsable_ejecucion:}} 
			        				{{=db.auth_user[ctz.ordenesTrabajo_responsable_ejecucion].first_name}} {{=db.auth_user[ctz.ordenesTrabajo_responsable_ejecucion].last_name}}
			        			{{else:}}
			        				<span class="badge badge-danger" id="spanEstado_{{=ctz.id}}" style="cursor:pointer;" onclick="ord.cambioEstado('{{=ctz.id}}', '');">Sin Asignar</span> 
			        			{{pass}}
			        			</td>
			        		<td>
			        			<a  
						            class="btn btn-app" 
						            style="margin: 0px 10px 0px 0px; min-width: 30px; height: 35px;"
						            onclick="ord.verOrden('listadoOrdenes','verOrden','{{=ctz.id}}');"
						        >
					            	<i 
					            		class="fa fa-eye" 
					            		style="color: grey;margin-top:-7px;"
					                	>
					                </i>
					            </a>
			        		</td>
			        	</tr>
			        {{ pass }}
		        </tbody>
		    </table>
		</div>
		<div id="verOrden" style="display: none;"></div>
	{{else:}}
		<div class="container">
			<div class="row">
				<div class="col col-lg-12">
					<blockquote>
	                  <p>En estos momentos no tienes ordenes de trabajo.</p>
	                  <small>Para crear una orden de trabajo <cite title="Source Title">Primero crea una cotización</cite></small>
	                </blockquote>
				</div>
				
			</div>
		</div>
	{{pass}}
</div>

{{block page_js}}
	<script>
	</script>	
	<script src="{{=URL('static','js/cotizaciones/ordenesTrabajo.js')}}"></script>
{{end page_js}}