{{extend plantilla()}}

<div class="card" id="divCardCargo">
    <div class="card-header">
      <h3 class="card-title">
        <a href="#!" class="btn btn-block btn-primary" id="btnNewTipoPersonas">
            Nuevo Tipo 
        </a>
        <a href="#!" class="btn btn-block btn-danger" id="btnRegresarListado" style="display:none;">
            Regresar
        </a>
      </h3>

    </div>
    <div class="card-body">
        <div id="idDivListaTipoPersonas" class="dataTables_wrapper dt-bootstrap4" style="overflow: scroll;">
            <table id="idTipoPersonas" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Información</th>
                </tr>
            </thead>
            <tbody>
                {{ for c in multi_personas:}}
        
                    <tr>
                        <td>
                           {{=c.codigo}}
                        </td>
                        <td>{{=str(c.nombre).capitalize()}}</td>
                        <td style="text-align:center;" id="td_estado_{{=c.id}}">
                            {{if ( (c.estado == True) or (c.estado == 'True') ):}}
                                
                                <a href="#!" style="color:green;font-size:1em;" onclick="estadoTipoPersonas('{{=c.id}}','{{=c.estado}}','{{=str(c.nombre).capitalize()}}');">
                                    <i class="fa fa-toggle-on fa-2x"></i>
                                </a>
                                
                            {{else:}}
                                
                                <a href="#!" style="color:red;font-size:1em;" onclick="estadoTipoPersonas('{{=c.id}}','{{=c.estado}}','{{=str(c.nombre).capitalize()}}');">
                                    <i class="fa fa-toggle-off fa-2x"></i>
                                </a>
                            {{pass}}
                        </td>
                        <td style="text-align:center;">
                            <a href="#!" class="text-center" onclick="template.modales('Información adicional para {{=c.nombre}}','body','','modal-xl');" style="text-align:center;">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {{pass}}
            </tbody>
          </table>
        </div>
        <div id="newTipoPersonas" style="display: none;">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Nuevo Tipo Persona</h3>
              </div>
              <form role="form" id="formTipoPersonas" onsubmit="return false;">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col col-6">
                            <label for="codigo">Codigo (*)</label>
                            <input type="text" class="form-control" id="codigo" placeholder="Codigo" name="codigo">
                            <input type="hidden" value="True" id="estado" name="estado">
                            <input type="hidden" value="{{=fecha('all')}}" id="fecha_creacion" name="fecha_creacion">
                        </div>
                        <div class="form-group col col-6">
                            <label for="nombre">Nombre (*)</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row" id="botoneraGurdar">
                        <div class="col col-6"> 
                            <a href="#!" class="btn btn-default btn-block">Limpiar</a>
                        </div>
                        <div class="col col-6"> 
                            <a href="#!"  class="btn btn-block btn-success"  id="btnGuardar">Crear Tipo</a>
                        </div>
                    </div>

                    <div class="row" id="botoneraGurdando" style="display:none;">
                        <div class="col col-12">    
                            <a href="#!" class="btn btn-primary btn-block disabled">
                                <span class="spinner-grow spinner-grow-sm"></span>
                                Un momento estamos guardando sus datos 
                                <span class="spinner-grow spinner-grow-sm"></span>
                            </a>
                        </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{{block page_js}}
    <script>
        $(function() {
            $('#idTipoPersonas').DataTable({
              "paging": true,
              "lengthChange": true,
              "searching": true,
              "order": [[ 1, "des" ]],
              "ordering": true,
              "info": true,
              "autoWidth": true,
            });
            
            $('#btnNewTipoPersonas').click(function(event) {
                $('#btnNewTipoPersonas, #idDivListaTipoPersonas').hide();
                $('#btnRegresarListado,#newTipoPersonas').show();
                $('#codigo').focus();
            });

            $('#btnRegresarListado').click(function(event) {
                $('#btnRegresarListado,#newTipoPersonas').hide();
                $('#btnNewTipoPersonas,#idDivListaTipoPersonas').show();
                $('#formTipoPersonas')[0].reset();
            });
            $('#btnGuardar').click(function(event) {
                if($('#codigo').val()===''){
                    template.validaCampo('Código');
                }else if($('#nombre').val()===''){
                    template.validaCampo('Nombre');
                }else{  
                    var dat = $('#formTipoPersonas').serialize();
                    $('#codigo,#nombre').attr('disabled', true);
                    $('#botoneraGurdar').hide();
                    $('#botoneraGurdando').show();
                    $('#btnRegresarListado').addClass('disabled');
                    $.ajax({
                        url: '../template/guardarTipoPersona',
                        type: 'POST',
                        data: dat,
                    })
                    .done(function(data) {
                        if ( (data==0) || (data==='0') ) {
                            template.resulError('Algo va mal... Verifica los datos ingresadpos e intenta nuevamente');
                        }else{
                            template.resulSucces('Tipo Identificación '+$('#nombre').val()+' creado con éxito','Terminar');
                        }
                    });
                }
            });

            estadoTipoPersonas = function(idTipoPersona,estado,tipoPersona) {
                if (estado === 'True') {
                    Swal.fire({
                        title: 'Confimación',
                        text: 'Seguro(a) confirma inactivar el tipo identificación ' + tipoPersona + '',
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Confirmar',
                        cancelButtonText: 'Validar',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                    }).then((result) => {
                        if (result.value) {
                            
                            asigDesTiposPersona(idTipoPersona,estado,tipoPersona);
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Confimación',
                        text: 'Seguro(a) confirma la activación del tipo identificación ' + tipoPersona + '',
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Confirmar',
                        cancelButtonText: 'Validar',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                    }).then((result) => {
                        if (result.value) {
                            asigDesTiposPersona(idTipoPersona,estado,tipoPersona);
                        }
                    });
                }
            }
            asigDesTiposPersona = function(idTipoPersona,estado,tipoPersona) {
                dat = {
                    'idTipoPersona': idTipoPersona,
                    'estado': estado,
                    'tipoPersona': tipoPersona
                }
                $.ajax({
                    url: 'asigDesTiposPersona',
                    type: 'POST',
                    data: dat,
                })
                .done(function(data) {
                    console.log(data);
                    if (data == 'False'){
                        $('#td_estado_' + idTipoPersona+'').html('');
                        $('#td_estado_' + idTipoPersona+'').html(`
                            <a href="#!" onclick="estadoTipoPersonas(`+idTipoPersona+`,'True','`+tipoPersona+`')" style="color:green;font-size:1em;">
                                <i class="fa fa-toggle-on fa-2x"></i>
                            </a>
                        `);
                        Swal.fire('Activación Confirmada');
                    } else if (data === 'True'){
                        $('#td_estado_' + idTipoPersona+'').html('');
                        $('#td_estado_' + idTipoPersona+'').html(`
                            <a href="#!" onclick="estadoTipoPersonas(`+tipoPersona+`,'False','`+tipoPersona+`')" style="color:red;font-size:1em;">
                               <i class="fa fa-toggle-off fa-2x"></i>
                            </a>
                        `);
                        Swal.fire('Inactivación Confirmada');
                    } else {
                        template.resulSucces('Tipo Persona ' + tipoPersona + ' no se Activar/Inactivar con éxito', 'Validar');
                    }
                });
            }
        });
    </script>
{{end page_js}}